body, html {
	padding: 0;
	margin: 0;
	font-size: 100%;
}

.wrapper {
	display: grid;
	grid-template-columns: auto 1fr 1fr 1fr 0.5fr;
	grid-template-rows: auto 1fr 1fr auto auto;
	grid-gap: 1rem;
	margin: auto;
	width: 65vw;
	transform: rotate(-40deg);
}

h1 {
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
	font-size: calc(1.3rem + 1.8vw);
	line-height: 1.2em;
	margin: 0;
	text-transform: uppercase;

	&:first-child {
		grid-column: 1 / 4;
		text-align: right;
	}

	&:nth-child(2) {
		color: rgb(24, 107, 175);
		grid-column: 3 / 4;
		grid-row: 2 / 5;
		justify-self: end;
		writing-mode: vertical-lr;
	}
}

.workshop-link {
	align-self: start;
	border-top: 5px solid rgba(12,12,10,0.8);
	border-bottom: 5px solid rgba(12,12,10,0.8);
	color: rgba(12, 12, 10, 0.8);
	font-size: 1.3rem;
	font-weight: 700;
	grid-row: 3;
	grid-column: 4 / 6;
	margin-left: 1rem;
	text-transform: uppercase;

	a {
		color: inherit;
		display: block;
		font-family: Futura,Trebuchet;
		font-weight: inherit;
		padding: 0.7rem 0;
		text-decoration: none;
	}
}

.follow-text {
	align-self: start;
	border-bottom: 2rem solid rgb(24, 107, 175);
	font-size: 1.3rem;
	grid-row: 5;
	grid-column: 3 / 6;
	padding-bottom: 5px;
	line-height: 1.3;
	justify-content: end;

	p {
		font-family: Futura,Trebuchet;
		margin: 0;
	}
}


@media(max-width: 820px) {
	.wrapper {
		transform: rotate(0);
	}
}

@media(max-width: 500px) {
	.wrapper {
		grid-template-columns: auto repeat(3, 1fr) 0.5fr;
		grid-template-rows: auto auto auto auto;
	}
	h1 {
		&:first-child {
			grid-column: 1 / -1;
		}

		&:nth-child(2) {
			grid-column: 5;
			grid-row: 2 / 4;
			margin-right: -5px;
		}
	}

	.follow-text {
		grid-column: 1 / 5;
		grid-row: 3;
		border-bottom-width: 0.5rem;
	}
	.workshop-link {
		grid-column: 1 / 5;
		grid-row: 4;
		margin-left: 0;
	}
}
